@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&family=Roboto:wght@100;400;700&display=swap');

$main-color: #f48fb1;
$main-color-dark: #bf5f82;
$second-color-dark-gray: #2a2a2a;
$second-color-dark-gray-2: #4b4a4a;
$second-color-light-gray: #e1e2e1;

$font-default: Pretendard-Regular, 'Noto Sans KR', sans-serif;
$font-weight-bold: Pretendard-Bold;
$font-weight-Regular: Pretendard-Regular;
$font-weight-thin: Pretendard-Thin;

$font-size-sm: 0.875em;
$font-size-md: 1em;
$font-size-lg: 1.25em;
$font-size-xl: 2.188em;

$box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.25);
$border-radius: 4px;
$button-border-radius: 8px;
